In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#import the python file
import importlib, banyan_sigma
importlib.reload(banyan_sigma)

#import the main function from the file
from banyan_sigma import banyan_sigma

I'm using Gaia data that Beck pulled for the distance re-estimates. The file happened to have everything I needed—ra, dec, proper motion in ra and dec, errors in proper motion, parallax—so I'm directly using that.

It resolved ~360 of the stars in the database.

In [2]:
# read in csv which i originally made in a separate folder then moved here
stars = pd.read_csv('follette_banyansigma_input.csv')
# rename the columns so they're how banyan sigma likes it
stars.columns = ['','RA','DEC','PMRA','PMDEC','EPMRA','EPMDEC','RV','ERV','PLX','EPLX']

#remove rows with negative parallax values, which are clearly unphysical
#(removes 6 negative plx values and 28 with nan values)
stars = stars[stars['PLX']>0]

# remove rv (only 13 not nan) and drop remaining nans (actually, none left)
#stars_data = stars[['RA','DEC','PMRA','PMDEC','EPMRA','EPMDEC','PLX','EPLX']].dropna()

In [3]:
#take a look at the data:
#we'll recover 327 stars
stars

,,RA,DEC,PMRA,PMDEC,EPMRA,EPMDEC,RV,ERV,PLX,EPLX
0,0,242.248026,-38.941100,-9.872,-23.526,0.465,0.300,NaN,NaN,6.6565,0.2796
1,1,235.419938,-33.755330,-19.095,-21.107,0.575,0.405,NaN,NaN,6.6964,0.3486
2,2,242.155490,-39.386472,-12.460,-24.016,1.798,0.873,NaN,NaN,5.3478,0.8740
3,3,246.589703,-24.433720,-9.050,-25.287,0.403,0.250,NaN,NaN,7.3210,0.1942
4,4,246.777442,-24.697020,-5.694,-25.030,0.291,0.197,NaN,NaN,7.0362,0.1327
...,...,...,...,...,...,...,...,...,...,...,...
356,356,166.745484,-77.314828,-23.319,1.714,0.097,0.097,NaN,NaN,5.2538,0.0576
357,357,163.998701,-77.411146,-23.813,2.193,0.059,0.053,NaN,NaN,5.4030,0.0312
358,358,165.465914,-34.704791,-68.389,-14.016,0.054,0.059,NaN,NaN,16.6428,0.0416
359,359,240.111213,-20.942191,-10.546,-17.225,0.481,0.323,NaN,NaN,6.1617,0.2008
360,360,72.947480,30.786986,4.379,-25.972,0.119,0.057,NaN,NaN,6.4264,0.0591

We get an error here: KeyError with an astropy.tables object. VCA not found. Looking into it but haven't figured it out.

In [4]:
membership_probs = banyan_sigma(stars_data=stars, use_plx=True, use_rv=True)

In [5]:
membership_probs

          118TAU                                                          \
            LN_P       D_OPT     RV_OPT     ED_OPT   ERV_OPT           X
0    -323.126031  150.229099 -12.133585   6.310232  1.611175  138.989473
1    -242.531420  149.333970 -16.197958   7.774001  1.618403  133.300658
2     -94.960525  186.992782 -11.532998  30.560547  1.680324  172.731143
3    -438.055501  136.593362 -30.153326   3.623334  1.716662  129.727761
4    -544.478964  142.122168 -35.010752   2.680369  1.714972  135.167465
..           ...         ...        ...        ...       ...         ...
322 -2826.694356  190.338422  35.718972   2.086774  1.511189   83.707047
323 -5250.682303  185.082362  68.794474   1.068771  1.511756   79.812038
324  -437.883335   60.086043 -20.738513   0.150190  1.556717    8.348487
325  -426.357801  162.292874 -28.374878   5.288867  1.690656  146.991168
326  -169.448404  155.608117  12.419098   1.431041  1.691335 -152.314719

                                                  ...            ALL  \
              Y          Z          U          V  ...           XFOR
0    -51.417438  24.636469 -15.850593 -11.845248  ...  1.362050e-234
1    -51.328412  43.554143 -20.771901 -13.349536  ...  1.921995e-195
2    -65.142627  29.777359 -17.446267 -17.603639  ...  3.718426e-131
3    -15.853238  39.713087 -28.739962 -12.774945  ...   0.000000e+00
4    -16.729688  40.602768 -32.820091 -11.255986  ...   0.000000e+00
..          ...        ...        ...        ...  ...            ...
322 -163.073966 -51.271108  -2.842914 -37.959920  ...   0.000000e+00
323 -159.035656 -50.923269  11.239473 -66.014670  ...   0.000000e+00
324  -54.694651  23.433533 -17.664142  11.789770  ...   0.000000e+00
325  -22.195153  65.114888 -26.573718 -11.309606  ...  4.973356e-316
326   22.014678 -23.010134 -13.197983 -15.245539  ...   0.000000e+00

                     Metrics                                              \
        FIELD            TPR            FPR           PPV            NFP
0    0.058706   8.414978e-01   8.240938e-05  4.455734e-03   5.894246e+02
1    0.024440   6.774610e-01   3.127118e-05  9.405699e-03   2.236639e+02
2    0.082400   8.826291e-01   1.082209e-04  3.561841e-03   7.740390e+02
3    0.005501  2.715034e-317  2.480673e-317  8.836156e-07  1.774276e-310
4    0.027360   7.313183e-01   4.813102e-06  2.751539e-03   3.442521e+01
..        ...            ...            ...           ...            ...
322  1.000000   9.999900e-01   9.999999e-01  2.063836e-07   7.152396e+06
323  1.000000   9.999900e-01   9.999998e-01  2.078484e-07   7.152396e+06
324  0.005172   2.144314e-01   1.398133e-07  7.001838e-03   1.000000e+00
325  0.015330   5.816335e-01   3.305232e-06  2.205237e-02   2.364033e+01
326  0.750756   9.951103e-01   1.726851e-04  3.007131e-03   1.235112e+03

          YA_PROB      LIST_PROB_YAS BEST_HYP BEST_YA
           Global             Global   Global  Global
0    9.412936e-01                UCL      UCL     UCL
1    9.755599e-01                UCL      UCL     UCL
2    9.176002e-01                UCL      UCL     UCL
3    9.944985e-01               ROPH     ROPH    ROPH
4    9.726395e-01  ROPH(80);USCO(20)     ROPH    ROPH
..            ...                ...      ...     ...
322  5.271307e-13              ABDMG    FIELD   ABDMG
323  2.266991e-12              ABDMG    FIELD   ABDMG
324  9.948283e-01                TWA      TWA     TWA
325  9.846698e-01               USCO     USCO    USCO
326  2.492442e-01                TAU    FIELD     TAU

[327 rows x 652 columns]